@font-face{
        font-family: 'Lobster';
        src: url(../fonts/reptil.ttf);
        font-weight: normal;
        font-style: normal;
}
@font-face{
        font-family: 'BedasNeue';
        src: url(../fonts/BebasNeueBold.otf);
        font-weight: normal;
        font-style: normal;
}
@font-face{
        font-family: 'BedasNeue';
        src: url(../fonts/BebasNeueLight.otf);
        font-weight: lighter;
        font-style: normal;
}
@font-face{
        font-family: 'BedasNeueBold';
        src: url(../fonts/BebasNeueBold.ttf);
        font-weight: normal;
        font-style: normal;
}
