*{
        margin: 0;
        font-family: BedasNeue;

}
a{
  display: block;
}
a:hover{
  color: #fff;
	text-decoration: none;
	}
  ul a {
    color: #ffF;
  }
/*ШАПКА САЙТА*/
.header-block{
        min-height: 80px;
        width: 100%;
        background-color: white;
}
.header-content{
        height: 100%;
}
.content{
        margin: 0 auto;
        width: 1040px;
}
.header-logo{
        font-weight: lighter;
        padding: 10px 0 0 40px;;
        font-family: Lobster;
        font-size: 49px;
        color: #3cc3b5;
        display: inline-block;
        margin: 0;
}
.header-logo:hover{
        color: #3cc3b5;
}
.search{
        margin-left: 3px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

.header-input{
        background-color: #fff;
        width: 400px;
        height: 30px;
        outline: none;
        border: 1px solid #e1e1e1;
        border-right: none;
}
.header-search:focus{
        outline: none;
}
.header-search{
        font-family: sans-serif;
        width: 40px;
        padding: 0;
        float: right;
        height: 30px;
        background-image: url(../img/search.png);
        background-color: #fff;
        background-repeat: no-repeat;
        border: 1px solid #e1e1e1;
        background-position: 50%;
        border-left: none;
        cursor: pointer;
}
.header-balance{
        justify-content: center;
        align-items:center;
        min-width: 140px;
}
.header-balance-basket{
        height: 37px;
        width: 41px;
        background-image: url(../img/urn.png);
        background-color: #fff;
        border: none;
        display: inline-block;
        cursor: pointer;
}
.header-balance-int{
        color: #a1a1a1;
        font-size: 33px;
        font-family: "BedasNeueBold", sans-serif ;
        margin-bottom: 0;
        margin-left: 10px;
        display: inline-block;
}
/*ТУТ НАСТРОЙКА МЕНЮШКИ С МАЛЕНЬКИИМ ЭКРАНАМИ*/
#menu{
  overflow-y: hidden;
}
#menu ul{
  background-color: #4ccfc1;
  width: 100%;
  height: 100%;
}
#menu li{
  border: none;
}

/*МЕНЮ САЙТА*/
.sitebar{
        position: relative;
        z-index: 3;
        box-shadow: 0px 3px 3px -2px #00000012;
        background-color: #4ccfc1;
        width: 100%;
}
.sitebar-content{
        padding: 0;
        list-style: none;
}
.sitebar-li{
        padding: 0;
        cursor: pointer;
        display: inline-block;
        color: #fff;
        line-height: 19px;
        font-size: 20px;
        height: 18px;
        text-align: center;
        border-left: 2px solid #fff;
}
.sitebar-link{
        font-size: 21px;
        height: 100%;
        font-family: "BedasNeueBold", sans-serif ;
        display: block;
}
.sitebar-li-one{
        border-left: none;
}
.sitebar-Noboot-seting{
        margin: 0;
        width: 100%;
        padding-top: 3px;
}
.sitebar-Noboot-setingNav{
        padding: 0;
        min-height: 36px;
}
.navbar-toggler{
        position: absolute;
        left: -50px;
        padding: 0;
}
.m{
        padding: 0;
}
.sitebar-ul{
        min-height: 36px;
        align-items: center;
        margin: 0px;
        width: 100%;
}
.sitebar-li:hover{
        background-color: #60aca1;
}
/*СЛАЙДЕР САЙТА*/
.main{
        height: 445px;
        width: 100%;
        background-image: url(../img/slideBG.jpg);
}
.main-slide-png{
        height: 330px;
        width: 280px;
}
.main-slide-headline{
        font-size: 61px;
        color: #fff;
        font-family: "BedasNeueBold", sans-serif ;
        line-height: 50px;
}
.main-slide-text{
        font-size: 17px;
        font-family: sans-serif;
        color: #fff;
        font-weight: lighter;
}
.main-slide-description{
        display: inline-block;
        padding-bottom: 30px;
}
.main-slide{
        flex-direction: column;
        justify-content: center;
}
.main-slide-container{
        padding-top: 60px;
}
.carousel-indicators li{
        cursor: pointer;
        background-color: #fff
}
.carousel-indicators .active{
        background-color: #9de0d8;
}
.main-slide-button{
        border: 2px solid #fff;
        background-color: #fff0;
        border-radius: 5px;
        color: #fff;
        width: 135px;
        height: 45px;
        font-size: 27px;
        text-align: center;
        font-family: "BedasNeueBold", sans-serif ;
        line-height: 39px;
}
.carousel-control-prev, .carousel-control-next{
        width: 20px;
        height: 20px;
        top: 49%;
        border-radius: 20px;
}
#my-stile-slide{
        width: 8px;
        border-radius: 5px;
        border: none;
        height: 9px;
}
.main-slide-button:hover{
        background-color: #fff;
        color: #3ec3b4;
}
/*КАТЕГОРИИ ПРОДУКТОВ*/
.container-fluid {
  background-color: #fff;
}
.categoriis-img{
        flex: none;
        object-fit: contain;
        width: 170px;
        height: 140px;
}
.categories-name-text{
        font-family: "BedasNeueBold", sans-serif ;
        color: #afafaf;
        font-size: 27px;
        line-height: 30px;
}
.categotis-button{
        font-family: "BedasNeueBold", sans-serif ;
        font-size: 19px;
        text-decoration: none;
        line-height: 33px;
        text-align: center;
        letter-spacing: 1px;
        width: 60px;
        height: 33PX;
        background-color: #3cc395;
        border: none;
        color: #fff;
        border-radius: 5px;
}
.categoris-card-border{
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
}
.categoris-main{
        min-height: 190px;
}
.categoris-block{
        align-items: center;
        min-height: 190px;
        margin: 0;
}

.categoris-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.catalog-shadow{
        box-shadow: 0px 3px 3px -2px #0000003d;
        position: relative;
        z-index: 4;
}
.content-text{
        font-family: "BedasNeueBold", sans-serif ;
        margin: 0;
        line-height: 70px;
        font-size: 31px;
        height: 70px;
        padding-left: 110px;
        color: #fff;
}
/*КАТАЛОГ ВЕЩЕЙ*/
.text-catalog{
        background-color: #42c7b3;
}
.product-but{
        height: 33px;
        width: 73px;
}
.product-but{
        font-size: 14px;
}
.products-img{
        object-fit: contain;
        padding-top: 10px;
}
.products-bacs{
        font-family: "BedasNeueBold", sans-serif ;
        color: #afafaf;
        font-size: 27px;
        line-height: 30px;
}
.products-card{
        width: 254px;
        height: 257px;
        margin: 0 auto;
        max-width: 255px;
        box-shadow: 0px 0px 4px -2px #010000;
        margin-top: 2px;
        border-radius: 0px;
        border-bottom: 5px solid #3cc395;
        flex-direction: column;
}
.products-name{
        font-family: "BedasNeueBold", sans-serif ;
        line-height: 60px;
        font-size: 27px;
        margin: 0;
        color: #afafaf;
        text-align: center;
}
.product-card-items{
        margin: 21px 0;
        overflow: hidden;
}
.products-link{
        margin-left: 15px;
        font-family: "BedasNeueBold", sans-serif ;
        font-size: 20px;
        width: 74px;
}
.products-row{
        padding-top: 33px;
}
.products{
        background-color: #fff;
        max-width: 940px;
        min-height: 670px;
}
.blockLink{
        background-color: #3cc3b5;
        min-height: 335px;
}
.blockLink-txt{
        display: block;
        color: #fff;
        margin-bottom: 1rem;
}
.blockLink-head{
        font-family: "BedasNeueBold", sans-serif ;
        font-size: 27px;
        margin: 0;
        padding: 20px 0px;
}
.blockLink-name{
        line-height: 15px;
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 16px;
}
.categotis-button:hover{
        background-color: #3c9e7d;
}
/*ФООТЕР САЙТА*/
.footer{
        background-color: #2da89b;
}
.footer-txt{
        height: 45px;
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: 15px;
        color: #fff;
        line-height: 45px;
}
